{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>

        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
    <div class="container">
        <h1>멤버 수와 활동 여부의 관계</h1>
        <div>
            <a href="https://plotly.com/~wbsl0427/16/?share_key=zdQVAUZCqjGDtKQ1zw5Tcr" target="_blank" title="Plot 16" style="display: block; text-align: center;"><img src="https://plotly.com/~wbsl0427/16.png?share_key=zdQVAUZCqjGDtKQ1zw5Tcr" alt="Plot 16" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
            <script data-plotly="wbsl0427:16" sharekey-plotly="zdQVAUZCqjGDtKQ1zw5Tcr" src="https://plotly.com/embed.js" async></script>
        </div>
        <h1>외국인 멤버 변화</h1>
        <div>
            <a href="https://plotly.com/~lltera/1/?share_key=l7a0f5dIx6KaU99oWpWfVO" target="_blank" title="Plot 1" style="display: block; text-align: center;"><img src="https://plotly.com/~lltera/1.png?share_key=l7a0f5dIx6KaU99oWpWfVO" alt="Plot 1" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
            <script data-plotly="lltera:1" sharekey-plotly="l7a0f5dIx6KaU99oWpWfVO" src="https://plotly.com/embed.js" async></script>
        </div>
        <h1>나라별 아이돌수</h1>
        <div>
            <a href="https://plotly.com/~go1412c/1/?share_key=uhufSnviklZdfXduTwCa9X" target="_blank" title="Plot 1" style="display: block; text-align: center;"><img src="https://plotly.com/~go1412c/1.png?share_key=uhufSnviklZdfXduTwCa9X" alt="Plot 1" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
            <script data-plotly="go1412c:1" sharekey-plotly="uhufSnviklZdfXduTwCa9X" src="https://plotly.com/embed.js" async></script>
        </div>
    </div>
    </body>
</html>
