{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        <div>
            <a href="https://plotly.com/~wbsl0427/16/?share_key=zdQVAUZCqjGDtKQ1zw5Tcr" target="_blank" title="Plot 16" style="display: block; text-align: center;"><img src="https://plotly.com/~wbsl0427/16.png?share_key=zdQVAUZCqjGDtKQ1zw5Tcr" alt="Plot 16" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
            <script data-plotly="wbsl0427:16" sharekey-plotly="zdQVAUZCqjGDtKQ1zw5Tcr" src="https://plotly.com/embed.js" async></script>
        </div>

    </body>
</html>
